[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
codecov = "*"
coverage = "*"
python-decouple = "*"
gunicorn = "*"
django = "*"

[dev-packages]
flake8 = "*"
pytest = "*"
pytest-django = "*"

[requires]
python_version = "3.8"
