[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==3.2.15"
gunicorn = "*"
python-decouple = "*"
pillow = "*"
django-summernote = "*"
psycopg2-binary = "*"
djangorestframework = "*"
markdown = "*"
django-filter = "*"
django-s3-folder-storage = "*"
boto3 = "*"
django-storages = "*"
dj-database-url = "*"

[dev-packages]
codecov = "*"
coverage = "*"
pytest = "*"
pytest-django = "*"

[requires]
python_version = "3.9"
