[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
codecov = "*"
coverage = "*"
python-decouple = "*"
gunicorn = "*"

[dev-packages]
flake8 = "*"
django-test = "*"
pytest = "*"

[requires]
python_version = "3.8"
