{% extends 'base.html' %}
{% load static %}

{% block content %}
    <nav>
        <section id="quemsomos">
            <div class="container-fluid quem-somos text-center margin text-white">
                <h3 class="Title">Quem Somos</h3>
                <img src="{% static 'img/dany.jpg' %}" class="rounded-circle margin img-fluid" alt="Equipe" width="400" height="400">
                <h4><p>Um time comprometido com os resultados!</p></h4>
                <div class="row align-items-start">
                    <div class="col-sm-12 col-md-6 col-lg-6">
                        <div class="margin text-white">
                            <h6><p class="paragraph">
                                Nossa história começa no ano de 2012, muito parecida com a maioria das histórias, 
                                onde a insatisfação com o trabalho e a falta de reconhecimento dos profissionais foi o 
                                maior motivador.<br />
                                Tudo começou com uma esmalteria, o objetivo era prestar serviços de esmalteria mas também
                                serviços de beleza, nascia então a esmalteria <strong>Estuddio Requinte</strong>, localizada em São Mateus,
                                zona leste de São Paulo. <br />
                                Concretizava-se um sonho com um propósito, levar às pessoas mais que um tratamento de beleza,
                                nosso propósito é fazer com que as pessoas se sintam bem com elas mesmas, que aumentem suas autoestima,
                                que ganhem mais confiança, pois uma boa aparência abre portas, faz você ser notado e faz sim diferença
                                na vida pessoal e profissional!  
                            </p><h6>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-6">
                        <div class="paragraph">
                            <img src="{% static 'img/studdiorequinte.jpg' %}" class="img-fluid  img-right" alt="studdiorequinte">
                        </div>
                    </div>
                    <!--<div class="container-fluid quem-somos text-center margin text-white">
                        <h3 class="Title">Missão</h3>
                        <p>
                            Ser referência no mercado de imprensa, com a melhor experiência e qualidade, atendendo aos clientes com excelência e profissionalismo.
                        </p>
                    </div>-->
                </div>
            </div>
        </section>
        <section id="servicos">
            <div class="container-fluid text-center margin text-white servicos">
                <h3><p class="Title">Serviços</p></h3>
                <div class="row">
                    <div class="col-sm">
                        <img src="{% static 'img/massagem.jpeg' %}" alt="massagem" width="100%" height="70%">
                        <p class="description-service text-justify">Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                            when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>
                    </div>
                    <div class="col-sm">
                        <img src="{% static 'img/maquiagem.jpg' %}" alt="maquiagem" width="100%" height="70%">
                        <p class="description-service text-justify">Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                            when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                    </div>
                    <div class="col-sm">
                        <img src="{% static 'img/cilios.jpg' %}" alt="Outro Dio" width="100%" height="70%">
                        <p class="description-service text-justify">Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                            when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                    </div>
                </div>
            </div>
        </section>
        <section id="servicos">
            <div class="container-fluid text-center margin text-white servicos">
                <h3><p class="Title">Serviços</p></h3>
                <div class="row">
                    <div class="col-sm">
                        <img src="{% static 'img/massagem.jpeg' %}" alt="Outro Dio" width="100%" height="70%">
                        <p class="description-service text-justify">Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                            when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>
                    </div>
                    <div class="col-sm">
                        <img src="{% static 'img/maquiagem.jpg' %}" alt="Outro Dio" width="100%" height="70%">
                        <p class="description-service text-justify">Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                            when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                    </div>
                    <div class="col-sm">
                        <img src="{% static 'img/cilios.jpg' %}" alt="cílios" width="100%" height="70%">
                        <p class="description-service text-justify">Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                            when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                    </div>
                </div>
            </div>
        </section>
        <section id="parceiros">
            <div class="container-fluid text-center margin parceiros text-white">
                <h3><p class="Title">Parceiros</p></h3>
                <div class="container">
                    <div class="row">
                        <div class="col-md-4">
                            <img class="parceiros_img" src="{% static 'img/massagem.jpeg' %}" alt="Digital Inovation One" >
                        </div>
                        <div class="col-md-4">
                            <img class="parceiros_img" src="{% static 'img/maquiagem.jpg' %}" alt="Outro Dio">
                        </div>
                        <div class="col-md-4">
                            <img class="parceiros_img" src="{% static 'img/cilios.jpg' %}" alt="Outro Dio">
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </nav>
{% endblock %}