{% extends 'base.html' %}
{% load static %}

{% block content %}
    <nav>
        <section id="quemsomos">
            <div class="container-fluid quem-somos text-center margin text-white">
                <h3 class="Title">Nossa Jornada</h3>
                <img src="{% static 'img/dany.jpg' %}" class="rounded-circle margin img-fluid" alt="Equipe" width="400" height="400">
                <div class="row align-items-start">
                    <div class="col-sm-12 col-md-6 col-lg-6">
                        <div class="margin text-white">
                            <h6><p class="paragraph">
                                Nossa história começa no ano de 2012, muito parecida com a maioria das histórias, 
                                onde a insatisfação com o trabalho e a falta de reconhecimento dos profissionais foi o 
                                maior motivador.<br />
                                Tudo começou com uma esmalteria, o objetivo era prestar serviços de esmalteria mas também
                                serviços de beleza, nascia então a esmalteria <strong>Estuddio Requinte</strong>, localizada em São Mateus,
                                zona leste de São Paulo.
                                Concretizava-se um sonho com um propósito, levar às pessoas mais que um tratamento de beleza,
                                nosso propósito é fazer com que as pessoas se sintam bem com elas mesmas, que aumentem suas autoestima,
                                que ganhem mais confiança, pois uma boa aparência abre portas, faz você ser notado e faz sim diferença
                                na vida pessoal e profissional!
                            </p></h6>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-6">
                        <div class="paragraph">
                            <img src="{% static 'img/studdiorequinte.jpg' %}" class="img-fluid" alt="studdiorequinte" width="100%" height="100%">
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-6">
                        <div class="paragraph">
                            <img src="{% static 'img/meuimperio.jpg' %}" class="img-fluid" alt="meuimperio" width="100%" height="100%">
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-6">
                        <div class="margin text-white">
                            <h6>
                                <p class="paragraph">Depois de alguns altos e baixos, em 2018 mudamos. Mudamos em diversos aspectos, não apenas o nome.
                                Deixamos de ser apenas uma esmalteria e nos tornamos uma Clínica de Estética, Saúde e Bem-Estar!<br />
                                Uma nova marca surge, agora, a antiga esmalteria chamada <strong>Estuddio Requinte</strong> torna-se 
                                a <strong>Clínica de Estética, Saúde, beleza e Bem-Estar Meu Império.</strong>
                                </p>
                            </h6>
                        </div>
                        <img src="{% static 'img/meu_imperio_logo.jpg' %}" class="img-fluid" alt="meuimperio" width="100%" height="100%">
                    </div>
                </div>
            </div>
        </section>
        <section id="services">
            <div class="container-fluid text-center margin text-white services">
                <h3><p class="Title">Serviços</p></h3>
                <div class="row">
                    <div class="col-md-4 mb">
                        <a href="corporal.html"><img src="{% static 'img/estetica_corporal.jpg' %}" alt="Corporal" width="100%" height="50%">
                        <p class="text-justify paragraph">Estética Corporal </p></a>
                    </div>
                    <div class="col-md-4 mb">
                        <img src="{% static 'img/estetica_facial2.jpg' %}" alt="Facial" width="100%" height="50%">
                        <p class="text-justify paragraph">Estética Facial</p>
                    </div>
                    <div class="col-md-4 mb">
                        <img src="{% static 'img/cilios2.jpg' %}" alt="Olhos" width="100%" height="50%">
                        <p class="text-justify paragraph">Estética de Olhos</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 mb">
                        <img src="{% static 'img/estetica_corporal.jpg' %}" alt="Corporal" width="100%" height="50%">
                        <p class="text-justify paragraph">Estética Corporal </p>
                    </div>
                    <div class="col-md-4 mb">
                        <img src="{% static 'img/estetica_facial2.jpg' %}" alt="Facial" width="100%" height="50%">
                        <p class="text-justify paragraph">Estética Facial</p>
                    </div>
                    <div class="col-md-4 mb">
                        <img src="{% static 'img/cilios2.jpg' %}" alt="Olhos" width="100%" height="50%">
                        <p class="text-justify paragraph">Estética de Cílios</p>
                    </div>
                </div>
            </div>
        </section>
        <!--<section id="parceiros">
            <div class="container-fluid text-center margin parceiros text-white">
                <h3><p class="Title">Parceiros</p></h3>
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <img class="parceiros_img" src="{% static 'img/massagem.jpeg' %}" alt="" width="100%" height="50%">
                        </div>
                        <div class="col">
                            <img class="parceiros_img" src="{% static 'img/maquiagem.jpg' %}" alt="" width="100%" height="50%">
                        </div>
                        <div class="col">
                            <img class="parceiros_img" src="{% static 'img/cilios2.jpg' %}" alt="" width="100%" height="50%">
                        </div>
                    </div>
                </div>
            </div>
        </section>-->
    </nav>
{% endblock %}