{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <title>Meu Império</title>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
        <!--owl css -->
        <link rel="stylesheet" href="{% static 'css/owl/owl.carousel.css' %}">
        <link rel="stylesheet" href="{% static 'css/owl/owl.theme.default.min.css' %}">
        <!--Responsividade-->
        <link rel="stylesheet" href="{% static 'css/responsive.css' %}">
        <!--Fim Resposividade-->
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light">
            <section id="menu" class="navbar">
                <a class="navbar-brand" href="#">
                    <img class="logo img-fluid" src="{% static 'img/logo.png' %}"/>
                </a>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0 text-menu">
                        <li class="nav-item">
                            <a class="nav-link active text-white" href="/">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active text-white" href="#quemsomos">Sobre</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active text-white" href="#servicos">Serviços</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active text-white" href="gallery">Galeria</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active text-white" href="blog">Blog</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active text-white" href="#parceiros">Parceiros</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active text-white" href="#parceiros">Contato</a>
                        </li>
                    </ul>
                </div>
            </section>
        </nav>
        {% block content %}
        {% endblock %}
        <footer class="container-fluid text-center text-white bg-footer">
            <!--<p>Desenvolvido por: <a href="https://www.linkedin.com/in/ericgpti/">Eric Gomes</a></p>-->
            2022 - Todos os direitos reservados.
        </footer>
    </body>
</html>