{% extends 'base.html' %}
{% load static %}

    <!-- <head>
        <title>Meu Império</title>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

        <link rel="stylesheet" href="{% static 'css/owl/owl.carousel.css' %}">
        <link rel="stylesheet" href="{% static 'css/owl/owl.theme.default.min.css' %}">
        Responsividade
        <link rel="stylesheet" href="{% static 'css/responsive.css' %}">
        Fim Resposividade
    </head> -->
    <!-- <body> -->
        <!-- <nav class="navbar navbar-expand-lg navbar-light">
            <section id="menu" class="navbar">
                <a class="navbar-brand" href="#">
                    <img class="logo" src="{% static 'img/logo.png' %}"/>
                </a>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0 text-menu">
                        <li class="nav-item">
                            <a class="nav-link active text-white" href="/">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active text-white" href="/#quemsomos">Sobre</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active text-white" href="/#parceiros">Parceiros</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active text-white" href="/#servicos">Serviços</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active text-white" href="#">Galeria</a>
                        </li>
                    </ul>
                </div>
            </section>
        </nav> -->

        {% block content %}
		<div class="container-fluid estetica text-center margin text-white">
			<div class="estetica">
			<h2 class="Title">Galeria de Fotos</h2>
				<section class="corporal">
					<h3 class="subtitulo text-left">Estética Corporal</h3>
					<div class="carrosel-fotos">
						<div class="owl-carousel owl-theme">
							<div class="item">
								<img class="box-filme" src="{% static 'img/cilios.jpg' %}">
							</div>
							<div class="item">
								<img class="box-filme" src="{% static 'img/maquiagem.jpg' %}">
							</div>
							<div class="item">
								<img class="box-filme" src="{% static 'img/massagem.jpeg' %}">
							</div>
							<div class="item">
								<img class="box-filme" src="{% static 'img/hidrolipoclasia.jpeg' %}">
							</div>
						</div>
					</div>
				</section>
				<sectio class="facial">
					<h3 class="subtitulo text-left">Estética Facial</h3>
					<div class="carrosel-fotos">
						<div class="owl-carousel owl-theme">
							<div class="item">
								<img class="box-filme" src="{% static 'img/black1.jpg' %}" onMouseOver=mouseOver()>
							</div>
							<div class="item">
								<img class="box-filme" src="{% static 'img/black1.jpg' %}">
							</div>
							<div class="item">
								<img class="box-filme" src="{% static 'img/black1.jpg' %}">
							</div>
						</div>
					</div>
				</sectio>
			</div>
		</div>
        {% endblock %}
		<!-- <footer class="container-fluid text-center text-white bg-footer">
            <p>Desenvolvido por: <a href="https://www.linkedin.com/in/ericgpti/">Eric Gomes</a></p>
            2021 - Todos os direitos reservados.
        </footer> -->
    <!-- </body> -->
<!-- </html> -->

<script src="https://kit.fontawesome.com/e9bfeda471.js" crossorigin="anonymous"></script>
<script src="{% static 'js/owl/jquery.min.js' %}"></script>
<script src="{% static 'js/owl/owl.carousel.min.js' %}"></script>
<script src="{% static 'js/owl/setup.js' %}"></script>