<!DOCTYPE html>
<html>
    <head>
        <title>Minha Página</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="bootstrap/css/style.css">
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light">
            <section id="menu" class="navbar"> 
                <a class="navbar-brand" href="#">
                    <img src="./bootstrap/img/meu_imperio_logo.jpeg" width="120" height="80">
                </a>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0 text-menu">
                        <li class="nav-item">
                            <a class="nav-link active text-white" href="#">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active text-white" href="#quemsomos">Quem Somos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active text-white" href="#parceiros">Parceiros</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active text-white" href="#servicos">Serviços</a>
                        </li>
                    </ul>
                </div>
            </section>
        </nav>
        <section id="quemsomos">
            <div class="container-fluid quem-somos text-center margin text-white">
                <h3 class="Title">Quem Somos</h3>
                <img src="./bootstrap/img/dany.jpg" class="rounded-circle margin" alt="Equipe" width="600" height="600"> 
                <h4><p>Um time comprometido com os resultados!</p></h4>
            </div>
        </section>

        <section id="parceiros">
            <div class="container-fluid text-center margin parceiros text-white">
                <h3><p class="Title">Parceiros</p></h3>
                <div class="container">
                    <div class="row">
                        <div class="col-md-4">
                            <img src="./bootstrap/img/massagem.jpeg" alt="Digital Inovation One" width="200px" height="200px">
                        </div>
                        <div class="col-md-4">
                            <img src="./bootstrap/img/maquiagem.jpg" alt="Outro Dio" width="200px" height="200px">
                        </div>
                        <div class="col-md-4">
                            <img src="./bootstrap/img/cilios.jpg" alt="Outro Dio" width="200px" height="200px">
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="servicos">
            <div class="container-fluid text-center margin text-white servicos">
                <h3><p class="Title">Serviços</p></h3>
                <div class="row">
                    <div class="col-sm">
                        <img src="./bootstrap/img/massagem.jpeg" alt="Outro Dio" width="100%" height="70%">
                        <p class="description-service text-justify">Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
                            when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>
                    </div>
                    <div class="col-sm">
                        <img src="./bootstrap/img/maquiagem.jpg" alt="Outro Dio" width="100%" height="70%">
                        <p class="description-service text-justify">Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
                            when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                    </div>
                    <div class="col-sm">
                        <img src="./bootstrap/img/cilios.jpg" alt="Outro Dio" width="100%" height="70%">
                        <p class="description-service text-justify">Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
                            when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                    </div>
                </div>
            </div>
        </section>

        <footer class="container-fluid text-center text-white bg-footer">
            <p>Desenvolvido por: <a href="https://www.linkedin.com/in/ericgpti/">Eric Gomes</a></p><br>
            <p>2021 - Todos os direitos reservados.</p>
        </footer>
        
    </body>
</html>